.DS_Store
.idea/
.vscode/
node_modules/
coverage/
.nyc_output/

# ELint (https://github.com/keenwon/elint)
.eslintrc.js
.eslintrc.cjs
.stylelintrc.js
.stylelintrc.cjs
.commitlintrc.js
.commitlintrc.cjs
.huskyrc.js
.husky
.prettierrc.cjs
